.bikelist {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bikelist h2 {
  margin-bottom: 40px;
}

.bikelist ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

#bicicleta .bikelist ul {
  padding: 0px 0px 20px 0px;
}

.bikelist li {
  flex: 1;
  min-width: 280px;
}

.bikelist a {
  display: block;
  color: var(--c12);
}

.bikelist img {
  margin-bottom: 16px;
}

.bikelist h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bikelist h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background: var(--p1);
  transition: width 0.2s;
}

.bikelist a:hover h3::before {
  width: 24px;
}

.bikelist li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bikelist {
    padding-bottom: 60px;
  }

  .bikelist ul {
    gap: 20px;
  }
}
