.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../img/dec/bottom-left.svg") no-repeat bottom left 20px;
}

#bicicleta .titulo p {
  text-transform: uppercase;
}

.bike-img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bike-img img:first-child {
  cursor: initial;
}

.bike-img img {
  flex: 1;
  min-width: 200px;
  cursor: pointer;
}

.bike-img img:first-child {
  min-width: 100%;
}

.bike-content > p {
  margin-bottom: 32px;
}

.bike-compra {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bike-compra a {
  grid-row: span 2;
}

.bike-compra span {
  display: flex;
  align-items: center;
  background: var(--c12);
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}

.bike-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.bike-info,
.bike-ficha {
  padding: 32px;
  background-color: var(--c12);
  border-radius: 4px;
}

.bike-info {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.bike-info img {
  width: 24px;
  margin-bottom: 8px;
}

.bike-info h3 {
  margin-bottom: 8px;
}

.bike-ficha li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--c11);
}

.bike-ficha li:last-child {
  border: none;
}

.bike-ficha span {
  color: var(--c6);
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bike-img {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .bike-info {
    grid-template-columns: 1fr;
  }

  .bike-compra {
    grid-template-columns: 1fr;
  }
}
